
/*** 
====================================================================
    Footer Page
====================================================================
***/
.cwl-footer-page{
    font-size: 14px;
    background: #241F1B;
}
.cwl-footer-wrapper{
    color: rgba(255, 255, 255, .85);
}
.cwl-footer-page .ft-heading{
    font-size: 18px;
    margin-bottom: 20px;
    line-height: 24px;
}
.cwl-footer-page .ft-list{
    font-size: 17px;
}
.cwl-footer-page .ft-list li{
    margin-bottom: 8px;
}
.cwl-ft-contact-list svg{
    width: 25px;
    min-width: 25px;
    margin-right: 10px;
}
.cwl-ft-contact-list li{
    margin-bottom: 10px;
}
.cwl-footer-page a{
    color: rgba(255, 255, 255, .85);
}
.social-mdeia-icons li {
    margin-right: 16px;
}
.social-mdeia-icons a{
    width: 45px;
    height: 45px;
    border-radius: 4px;
    color: var(--primary-color);;
    border: 1px solid var(--primary-color);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .25s linear;
}
.social-mdeia-icons a:hover{
    background: #fff;
    color: var(--black);
}
.copyright{
    background: #342E2A;
    color: rgba(255, 255, 255, .85);;
}